<%= session[:carrinho].inspect %> <br>
<%= @acompanhamentos_all.inspect %> <br>
<%= @acompanhamento_item.inspect %> <br>

<div id="all">
  <div id="content">
    <div class="container">

      <div class="col-md-9" id="basket">

        <div class="box">

          <form method="post" action="checkout1.html">

            <h1>Carrinho de Compras</h1>
            <p class="text-muted">Você tem <%= session[:carrinho].count if defined? (session[:carrinho]) %>
              item(s) no seu carrinho.</p>
            <div class="table-responsive">
              <table class="table">
                <thead>

                <tr>
                  <th colspan="2">Produto</th>
                  <th>Quantidade</th>
                  <th>Preço unitario</th>
                  <th>Acompanhamentos</th>
                  <th colspan="2">Total</th>
                </tr>
                </thead>
                <tbody>

                <% @produtos.each do |produto| %>
                  <tr>
                    <td>
                      <% if produto.image.attached? %>
                        <%= link_to catalogo_detalhes_path(produto) do %>
                          <%= image_tag produto.image, class: "img-responsive" %>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <%= produto.nome_produto %>
                    </td>
                    <td>
                      <input type="number" value="2" class="form-control">
                    </td>
                    <td>R$: <%= produto.valor_produto %></td>
                    <td></td>
                    <td></td>
                    <td><a href="#"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                <% end %>
                </tbody>
                <tfoot>
                <tr>
                  <th colspan="5">Total</th>
                  <th colspan="2">$446.00</th>
                </tr>
                </tfoot>
              </table>

            </div>
            <!-- /.table-responsive -->

            <div class="box-footer">
              <div class="pull-left">
                <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
              </div>
              <div class="pull-right">
                <button class="btn btn-default"><i class="fa fa-refresh"></i> Update basket</button>
                <button type="submit" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>

          </form>

        </div>
        <!-- /.box -->


      </div>
      <!-- /.col-md-9 -->

      <div class="col-md-3">
        <div class="box" id="order-summary">
          <div class="box-header">
            <h3>Order summary</h3>
          </div>
          <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr>
                <td>Order subtotal</td>
                <th>$446.00</th>
              </tr>
              <tr>
                <td>Shipping and handling</td>
                <th>$10.00</th>
              </tr>
              <tr>
                <td>Tax</td>
                <th>$0.00</th>
              </tr>
              <tr class="total">
                <td>Total</td>
                <th>$456.00</th>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>
      <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
  </div>
  <!-- /#content -->
</div>
<!-- /#all -->